@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --dark-blue: #0F3570;
    --white: #eee;
    --dark-grey: #3E3C3C;
    --neon-green: #00F4AD;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.header {
    background-color: var(--dark-blue);
    height: 90vh;
}

.header__animation {
    margin-top: 1rem;
    width: 100vw;
}

.header__microchip {
    width: 25vw;
    position: relative;
    top: -8rem;
    left: 2rem;
}

.heading--primary {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 7.9rem;
    margin: 5rem 0;
    text-align: center;
}

.subheading {
    font-size: 2.6rem;
    font-weight: 500;
    color: #9FC5E8;
    margin: 0 auto;
    text-align: center;
}

.progress-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    width: 7.8rem;
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-grey);
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 6rem;
    width: 45vw;
    z-index: 10;
}

.navbar__icon,
.navbar__nav,
.heading--white {
    color: var(--white);
}

.navbar__nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.navbar__icon {
    font-size: 1.8rem;
}

.navbar__link {
    color: #CBE1F7;
    font-size: 1.6rem;
}

.navbar__item:not(:last-child) {
    margin-right: 1rem;
}

.skills {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5rem auto;
}

.my-work {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
}

.work {
    margin-bottom: 5rem;
    padding: 0 2rem;
    position: relative;
    width: 100%;
}

.work__frame {
    width: 75%;
}

.work__descr {
    position: absolute;
    color: white;
    /* padding-left: 20px;
    padding-right: 20px; */
    width: 25%;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translateY(-25%);
}

.work__par {
    font-size: 1.5rem;
}

.heading--secondary {
    text-align: center;
    margin: 3rem;
    font-size: 3rem;
}

.heading--tertiary {
    text-align: left;
    font-size: 3rem;
}

.hire-me__text {
    color: var(--dark-gray);
    font-size: 2.2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.hire-me__question {
    color: var(--dark-gray);
    margin-right: .5rem;
}

.hire-me__hire-me {
    color: var(--neon-green);
}

.footer__img {
    margin-bottom: 9rem;
    width: 100vw;
}

@media all and (max-width: 1243px) {
    .progress-bar {
        position: fixed;
        right: 1rem;
        top: 100%;
        transform: translateY(-150%);
    }
}
